@page "/"

<PageTitle>Home</PageTitle>

<h1>Trash Pickers</h1>
<style>
    h1 {
        text-align: center;
    }
</style>
<img src="images/fotoBreda.jpg" alt="Breda" style="width: 100%; height: 400px; object-fit: cover;" />


