@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align: center;">Trash Pickers</h1>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; padding: 20px;">

    <!-- Foto Breda -->
    <div>
        <img src="images/fotoBreda.jpg" alt="Breda"
             style="width: 100%; height: 300px; object-fit: cover;" />
    </div>

    <!-- Uitleg Breda -->
    <div style="background-color: #d3d3d3; height: 300px; padding: 20px; overflow-y: auto; display: flex; flex-direction: column;">
        <h2>Over Breda</h2>
            <p>
                Breda is een prachtige stad met een rijke geschiedenis, groene parken en een levendig stadscentrum.
                De stad heeft veel te bieden: van de imposante Grote Kerk tot het sfeervolle Valkenbergpark.
                Het is een stad waar mensen graag wonen, werken en recreëren.
            </p>
    </div>

    <!-- Uitleg App -->
    <div style="background-color: #d3d3d3; height: 300px; padding: 20px; overflow-y: auto; display: flex; flex-direction: column;">
        <h2>Over de Website</h2>
        <p>
                Helaas heeft zwerfafval een grote impact op de leefbaarheid en uitstraling van onze stad.
                Met Trash Pickers willen wij Breda schoon en mooi houden voor iedereen.
                Door samen afval te melden en op te ruimen, zorgen we ervoor dat Breda de prachtige stad blijft
                die ze altijd is geweest.
            </p>
    </div>

    <!-- Foto Straat Afval -->
    <div>
        <img src="images/straatAfvalBreda.jpg" alt="Straat afval"
             style="width: 100%; height: 300px; object-fit: cover;" />
    </div>

</div>